<div id="page-top">
	<div id="wrapper">
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"  dojoAttachPoint="sidebar">
		</ul>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div dojoAttachPoint="topbar" >
				</div>
				<div class="container-fluid">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800" dojoAttachPoint="heading">
							{headingtxt}
						</h1>
					</div>
					<div dojoAttachPoint="content">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
